* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: gilroy;
      color: #fff;
}

html,
body {
      height: 100%;
      width: 100%;
}

body {
      background-color: #111;
      padding: 50px;
}

.box {
      background: linear-gradient(rgb(236, 132, 153), rgb(142, 5, 32));
      height: 300px;
      width: 300px;
      border-radius: 10px;
      margin: 1rem;
}

.circle {
      background: linear-gradient(lightblue, blue);
      height: 300px;
      width: 300px;
      border-radius: 50%;
      margin: 1rem;
}